<nav class="navbar navbar-dark bg-info shadow-lg py-2">
    <a class="navbar-brand">JWT</a>

    <div class="navbar-nav text-white">
      <div *ngIf="loginService.existeUsuario()">
        <a class="nav-item nav-link" [routerLink]="['/hola']">Hello</a>
        <a class="nav-item nav-link" [routerLink]="['/logout']">Salir</a>  
      </div>

      <div *ngIf="!loginService.existeUsuario()">
          <a class="nav-item nav-link" [routerLink]="['/register']">Registrase</a> 
          <a class="nav-item nav-link" [routerLink]="['/login']">Login</a> 
      </div>

    </div>
  </nav>